.formulario{

    fieldset{
        display: flex;
        flex-direction: column;
    }

    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }

    label{
        font-weight: bold;
    }

    p{
        font-size: 1.4rem;
        color: $grisOscuro;
        margin: 2rem 0 0;
    }

    //Usando not() aplica los estilos a todo excepto a los elementos de tipo submit
    input:not([type="submit"]), textarea, select{
        padding: 1rem;
        background-color: $blanco;
        border: 1px solid $gris;
        margin-bottom: 1rem;
    }
}

.forma-contacto{

    input, label{
        margin-right: 1rem;
    }
}